
<h1 style="margin:20px 0px 0px 40px">Nueva Venta</h1>
<mat-card style="margin: 20px 40px 40px 40px">


  <mat-card-content class="dashboard-card-content">

    <form class="example-form" [formGroup]="formGroup" (ngSubmit)="onSubmitForm()">
      <mat-grid-list cols="4" rowHeight="80px">

        <mat-grid-tile>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Comercio</mat-label>
            <input type="text"
                   placeholder="Buscar..."
                   aria-label="Number"
                   matInput
                   [matAutocomplete]="auto"
                   formControlName="comercio">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
                              (optionSelected)="comercioSeleccionado($event)"
                              [displayWith]="displayComercio">
              <mat-option *ngFor="let option of filteredOptions" [value]="option">
                {{option.nombre}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

        </mat-grid-tile>

        <mat-grid-tile>

          <mat-form-field class="example-full-width" appearance="fill" style="margin-left: 40px;">
            <mat-label>Codigo</mat-label>
            <input matInput type="number" formControlName="codigo">
          </mat-form-field>

        </mat-grid-tile>

        <mat-grid-tile [colspan]="2">

          <mat-form-field class="example-full-width" appearance="fill" style="margin-left: 40px;">
            <mat-label>Concepto</mat-label>
            <input matInput type="text" formControlName="concepto">
          </mat-form-field>

        </mat-grid-tile>      

      </mat-grid-list>
    </form>

    <mat-grid-list cols="4" rowHeight="80px">

      <mat-grid-tile>

        <mat-form-field appearance="outline">
          <mat-label>Medio de pago</mat-label>
          <mat-select formControlName="medio_pago">
            <mat-option *ngFor="let item of listaMedioPago" [value]="item.idMedio">
              {{item.descripcion}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </mat-grid-tile>

      <mat-grid-tile>

        <mat-form-field class="example-full-width" appearance="fill" style="margin-left: 40px;">
          <mat-label>Total</mat-label>
          <input matInput type="number" formControlName="total">
        </mat-form-field>

      </mat-grid-tile>

      <mat-grid-tile>
        <button mat-raised-button color="primary" style="width: 80%;" [disabled]="formGroup.invalid"><mat-icon>add</mat-icon> Agregar</button>
      </mat-grid-tile>

    </mat-grid-list>

    <div class="mat-elevation-z2">
      <table mat-table [dataSource]="dataSource">

        <!-- Position Column -->
        <ng-container matColumnDef="comercio">
          <th mat-header-cell *matHeaderCellDef> Comercio </th>
          <td mat-cell *matCellDef="let element"> {{element.descripcionComercio}} </td>
        </ng-container>

        <ng-container matColumnDef="medio_pago">
          <th mat-header-cell *matHeaderCellDef> Medio de pago </th>
          <td mat-cell *matCellDef="let element"> {{element.medio_pago}} </td>
        </ng-container>

        <ng-container matColumnDef="concepto">
          <th mat-header-cell *matHeaderCellDef> Concepto </th>
          <td mat-cell *matCellDef="let element"> {{element.concepto}} </td>
        </ng-container>

        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef> Estado </th>
          <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef> Total </th>
          <td mat-cell *matCellDef="let element"> {{element.total}} </td>
        </ng-container>

        <ng-container matColumnDef="accion">
          <th mat-header-cell *matHeaderCellDef style="width:80px"> </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="warn" (click)="eliminarComercio(element)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>

    <mat-grid-list cols="4" rowHeight="80px">
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile>


      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-raised-button color="primary" style="width: 80%;" [disabled]="ELEMENT_DATA.length< 1 || deshabilitado" (click)="registrarTransaccion()">
          <mat-icon>new_label</mat-icon>
          Registrar
        </button>
      </mat-grid-tile>
    </mat-grid-list>

  </mat-card-content>

</mat-card>
