
  <h2 mat-dialog-title>{{accion}} Comercio</h2>
  <mat-dialog-content>

    <form [formGroup]="formComercio">
      <mat-grid-list cols="1" rowHeight="80px">

        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput autocomplete="off" formControlName="nombre">
            <mat-icon matSuffix>fit_screen</mat-icon>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Nit</mat-label>
            <input matInput autocomplete="off" formControlName="nit">
            <mat-icon matSuffix>fit_screen</mat-icon>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Dirección</mat-label>
            <input matInput autocomplete="off" formControlName="direccion">
            <mat-icon matSuffix>fit_screen</mat-icon>
          </mat-form-field>
        </mat-grid-tile>

      </mat-grid-list>
    </form>


  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>Volver</button>
    <button mat-raised-button
            color="primary"
            [disabled]="formComercio.invalid"
            (click)="agregarEditarComercio()">
      {{accionBoton}}
    </button>
  </mat-dialog-actions>
